.bold {
    font-weight:500;
}

.bold-name {
    font-weight: bold!important;
    font-size: 25px!important;
    
}

.avatar-style {
    margin: auto;
    border: solid 6px white;
}

.avatar-bkg {
    background-color:  #e9d8e1;
    padding-top: 60px;
    margin-top: -20px;
    border-radius: 6px;
    padding-bottom: 20px;
}

.chakra-ui-dark .avatar-bkg{
    background: #843d61;;
    color: black;
}

.modalContent {
    text-align: center;
}
